# https://github.com/scrapy/scrapy/blob/master/.gitignore
/.vagrant
/scrapy.iml
*.pyc
_trial_temp*
dropin.cache
docs/build
*egg-info
.tox
venv
build
dist
.idea
htmlcov/
.coverage

# Windows
Thumbs.db

# customized by me
scrapy_charlie_chaplin/scrapinghub.yml

scrapy_charlie_chaplin/project.egg-info/*

scrapy_charlie_chaplin/build/*

xml_data/*
